node_modules
dist
out
.vite/

.DS_Store
.eslintcache
*.log*

.env
.env.*
!.env.example

.idea/


versions
versions.json

credentials.json
versions.js

versions.js
gmail_token.json

eng.traineddata

agents

tools.ts
global
IRISB.tsx
AICoreSphere.tsx
mobile-manager.ts
voice